        <!-- Header Section Begin -->
        <header class="header">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="footer_about_logo">
                          <a href="./index.html"><img src="../assets/img/logo_au.jpeg" alt=""></a>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <nav class="header__menu">
                          <ul>
                              <li><a href="./index.html">Principal</a></li>
                              <li><a [routerLink]="['/login']">Login</a></li>
                              <li class="active"><a [routerLink]="['/contacto']">Contact</a></li>
                          </ul>
                      </nav>
                  </div>

              </div>
              <div class="humberger__open">
                  <i class="fa fa-bars"></i>
              </div>
          </div>
      </header>
      <!-- Header Section End -->


