<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1>Registro Producto</h1>
              <h2>AustroMarket</h2>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
							<form #formulario="ngForm">
								<div class="form-group">
									<span class="form-label">Nombre</span>
									<input class="form-control" type="text" placeholder="Ingrese el nombre del producto"
                  [(ngModel)]="product.name"
                  name="name">
								</div>
                <div class="form-group">
									<span class="form-label">Precio</span>
									<input class="form-control" type="number"  min="1" max="10"
                   placeholder="Ingrese la cantidad"
                   [(ngModel)]="product.price"
                   name="name">
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Cantidad</span>
											<input type="number" min="1" step="any" />
										</div>
									</div>
								</div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <span class="form-label">Cargar Imagen</span>


                          <input type="file"
                           (change)="CreateBase64String($event)"
                           class="fileInputProfile form-control"
                           >

                            <div class="img-space">
                              <ng-container *ngIf="isImageSaved;">
                                <img [src]="cardImageBase64" style="width: 100px;height:100px;" />
                              </ng-container>
                            </div>

                        </div>
                      </div>
                    </div>

								<div class="form-btn">
									<button class="submit-btn" routerLinkActive="router-link-active"
                  (click)="create()">Registrar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
